[Desktop Entry]
Type=Action
TargetToolbar=true
ToolbarLabel=Import...
Name=Import...
Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-import.svg
Profiles=rabbitvcs_directory_svn_import;

[X-Action-Profile rabbitvcs_directory_svn_import]
Exec=rabbitvcs import %F
