[Desktop Entry]
Type=Action
TargetToolbar=true
ToolbarLabel=Relocate...
Name=Relocate...
Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-relocate.svg
Profiles=rabbitvcs_directory_svn_relocate;

[X-Action-Profile rabbitvcs_directory_svn_relocate]
Exec=rabbitvcs relocate %F
