[Desktop Entry]
Type=Action
TargetToolbar=true
ToolbarLabel=Revert...
Name=Revert...
Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-revert.svg
Profiles=rabbitvcs_revert;

[X-Action-Profile rabbitvcs_revert]
Exec=rabbitvcs revert %F
