[Desktop Entry]
Type=Action
TargetToolbar=true
ToolbarLabel=Create repository here
Name=Create repository here
Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-run.svg
Profiles=rabbitvcs_directory_git_create_repo;

[X-Action-Profile rabbitvcs_directory_git_create_repo]
Exec=rabbitvcs create --vcs git %F
