[Desktop Entry]
Type=Action
TargetToolbar=true
ToolbarLabel=Update
Name=Update
Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-update.svg
Profiles=rabbitvcs_update;

[X-Action-Profile rabbitvcs_update]
Exec=rabbitvcs update %F
