[Desktop Entry]
Type=Action
TargetToolbar=true
ToolbarLabel=Switch...
Name=Switch...
Icon=/usr/share/icons/hicolor/scalable/actions/rabbitvcs-switch.svg
Profiles=rabbitvcs_svn_switch;

[X-Action-Profile rabbitvcs_svn_switch]
Exec=rabbitvcs switch %F
